
.ui-icon-email	{
	background-image: url("local-img/ic_email.png");
}

.ui-icon-camera	{
	background-image: url("local-img/ic_camera.png");
}

.ui-icon-chat	{
	background-image: url("local-img/ic_chat.png");
}